spring:
  application:
    name: smart-startup-navigator
server:
  port: 8456
  servlet:
    context-path: /api

# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn

# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.gyqstd.smartstartupnavigator.controller